body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    width: 100&;
    height: 50px;
    background-color: black;
}

#menu #logoNav {
    width: 74%;
    display: flex;
    flex-direction: row;
}

#logoGem{
    font-size: 2em;
    text-align: left;
    padding-left: 5%;
    color: white;
    font-family: 'Rozha One', serif;
    padding-top: 0;
    margin-top: 0;
}

#menu nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 35%;
    padding-right: 5%;
}

#menu nav a {
    display: flex;
    text-decoration: none;
    align-items: center;
    padding-right: 6%;
    padding-top: 2%;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1vw;
    text-align: center;
}

a:hover {
    background-color: white;
    color: hotpink;
}

#seccionUno {
    display: flex;
}

.imgContainer{
    
}

.macaHeaderImg {
    position: absolute;
    width: 12%;
    margin-top: 19%;
    margin-left: 10%;
}

.macaHeaderImg_Dos {
    margin-top: 6.9%;
    margin-left: 65%;
}


h1 {
    text-align: center;
    font-size: 47vw;
    margin: 0;
    padding-left: 12%;
    margin-top: -4%;
}

#seccionDos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    width: 90%;
    display: flex;
    align-items: center;
    margin: 0;
}

h2 {
    text-align: center;
    width: 20%;
    height: 2%;
    margin: -.19%;
    background-color: black;
    color: white;
    font-family: 'Rozha One', serif;
    font-weight: 100;
    font-size: 2.5vw;
    margin-bottom: 2%;
}

.containerImgP {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%; 
    margin: 0;
    padding: 0;
}

.containerP {
    display: flex;
    width: 40%;
    margin: 0;
    padding: 0;
}

.pSeccionDos {
    width: 100%;
    text-align: justify;
    font-size: 1.5vw;
    font-family: 'Quicksand', sans-serif;
}

.containerImg{
    display: flex;
    flex-flow: row;
    width: 40%;
    align-items: center;
    justify-content: center;
}

.imgSeccionDos {
    display: flex;
    width: 55%;
}

.imgSeccionDosA {
    display: flex;
    width: 40%;
    padding: 6%;
}



#seccionTres {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

iframe {
    padding-top: 5%;
    padding-bottom: 5%;
    max-width: 100%;
    height: auto;
}

.videoContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
}

#seccionCuatro {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.containerForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

form {
    padding-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    padding-bottom: 3%;
}

#seccionCinco {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: black;
}

input {
    background-color: gainsboro;
    border: none;
    padding: 1%;
    margin-bottom: 1%;
    width: 50%;
    font-family: 'Quicksand', sans-serif;
}

textarea {
    background-color: gainsboro;
    border: none;
    padding: 1%;
    margin-bottom: 1%;
    width: 50%;
    resize: none;
    overflow: auto;
    font-family: 'Quicksand', sans-serif;
}

button {
    background-color: dimgrey;
    border: none;
    color: white;
    padding: 1% 7%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2vw;
    font-family: 'Quicksand', sans-serif;
}

#footer {
    text-align: center;
    color: white;
    font-size: 1em;
    font-family: 'Quicksand', sans-serif;
}